#header{
	width: 100%;
	height: 600px;
	background-color: #f0f0f0;
	position: relative;
}
h3{margin-left: 15px;}
.reg{
	width: 300px;
	height: 400px;
	position: absolute;
	top:118px;
	left: 533px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 33px -11px black;
}
table{width:300px;height: 400px;border-radius: 10px;}
input{
	width: 220px;
	height: 20px;
	border: 1px solid transparent;
	border-bottom: 1px solid #ccc;
	outline: 0;
	border-radius: 3px;
	padding: 1px 5px;
	}
.reg_btn{
	width: 100px;
	height: 35px;
	background-color:#33cccc;
	color: white;
	font-size: 15px;
	border: 0;
	outline: 0;
	font-family: "gill sans mt";
	border-radius: 5px;
	margin-left: -130px;
	box-shadow: 0px 7px 10px -2px #33cccc;
}